In [3]:
import pandas as pd

import requests

from bs4 import BeautifulSoup

import time
import datetime

%matplotlib inline

import matplotlib.pyplot as plt
from cycler import cycler

import glob

## So far I've scraped MTA lost and found data for four days, from July 17 to July 20
### Time to see if they show anything interesting

In [13]:
filenames = glob.glob("mta_data/mta_*.csv")

In [14]:
list_of_dfs = [pd.read_csv(filename) for filename in filenames]

In [15]:
for dataframe, filename in zip(list_of_dfs, filenames):
  dataframe['filename'] = filename

In [18]:
df = pd.concat(list_of_dfs, ignore_index=True)

In [30]:
df[df.item == "Eyeglass case without glasses"]

,amount,group,item,filename
125,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_10.csv
348,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_11.csv
571,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_12.csv
794,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_13.csv
1017,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_14.csv
1240,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_15.csv
1463,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_16.csv
1686,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_17.csv
1909,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_18.csv
2132,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_19.csv
2355,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_20.csv
2578,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_21.csv
2801,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_22.csv
3024,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_23.csv
3247,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_4.csv
3470,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_5.csv
3693,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_6.csv
3916,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_7.csv
4139,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_8.csv
4362,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_17_9.csv
4585,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_0.csv
4808,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_1.csv
5031,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_10.csv
5254,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_11.csv
5477,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_12.csv
5700,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_13.csv
5923,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_14.csv
6146,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_15.csv
6369,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_16.csv
6592,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_18_17.csv
...,...,...,...,...
11498,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_15.csv
11721,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_16.csv
11944,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_17.csv
12167,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_18.csv
12390,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_19.csv
12613,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_2.csv
12836,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_20.csv
13059,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_21.csv
13282,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_22.csv
13505,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_23.csv
13728,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_3.csv
13951,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_4.csv
14174,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_5.csv
14397,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_6.csv
14620,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_7.csv
14843,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_8.csv
15066,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_19_9.csv
15289,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_0.csv
15512,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_1.csv
15735,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_10.csv
15958,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_11.csv
16181,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_12.csv
16404,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_2.csv
16627,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_3.csv
16850,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_4.csv
17073,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_5.csv
17296,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_6.csv
17519,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_7.csv
17742,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_8.csv
17965,540,Eye Wear,Eyeglass case without glasses,mta_data\mta_7_20_9.csv

In [28]:
df[df.filename == "mta_data\\mta_7_20_9.csv"]

,amount,group,item,filename
17840,98,Home Furnishings,Wall and Window Covering,mta_data\mta_7_20_9.csv
17841,62,Home Furnishings,Ornaments,mta_data\mta_7_20_9.csv
17842,163,Home Furnishings,Appliances,mta_data\mta_7_20_9.csv
17843,1511,Home Furnishings,Linen,mta_data\mta_7_20_9.csv
17844,43,Home Furnishings,Floor Covering,mta_data\mta_7_20_9.csv
17845,652,Home Furnishings,All Other Furnishings,mta_data\mta_7_20_9.csv
17846,767,Home Furnishings,Dishware,mta_data\mta_7_20_9.csv
17847,15,Sports Equipment,Bats,mta_data\mta_7_20_9.csv
17848,97,Sports Equipment,Scooter,mta_data\mta_7_20_9.csv
17849,6,Sports Equipment,Golf Club,mta_data\mta_7_20_9.csv
17850,316,Sports Equipment,Ball,mta_data\mta_7_20_9.csv
17851,79,Sports Equipment,Skateboard,mta_data\mta_7_20_9.csv
17852,26,Sports Equipment,Binocular,mta_data\mta_7_20_9.csv
17853,2,Sports Equipment,Electric Motor Scooter,mta_data\mta_7_20_9.csv
17854,486,Sports Equipment,Protective Gear,mta_data\mta_7_20_9.csv
17855,10,Sports Equipment,Hockey Stick,mta_data\mta_7_20_9.csv
17856,148,Sports Equipment,Sports Racket,mta_data\mta_7_20_9.csv
17857,229,Sports Equipment,Bicycle,mta_data\mta_7_20_9.csv
17858,3,Sports Equipment,Skis,mta_data\mta_7_20_9.csv
17859,596,Sports Equipment,All Other sports equipment,mta_data\mta_7_20_9.csv
17860,91,Medical Equipment & Medication,Insulin Pump,mta_data\mta_7_20_9.csv
17861,6129,Medical Equipment & Medication,Medication,mta_data\mta_7_20_9.csv
17862,102,Medical Equipment & Medication,X - Rays,mta_data\mta_7_20_9.csv
17863,524,Medical Equipment & Medication,Other,mta_data\mta_7_20_9.csv
17864,15,Medical Equipment & Medication,Walker,mta_data\mta_7_20_9.csv
17865,19,Medical Equipment & Medication,Wheel Chair,mta_data\mta_7_20_9.csv
17866,65,Medical Equipment & Medication,Blood Pressure Meter,mta_data\mta_7_20_9.csv
17867,946,Medical Equipment & Medication,All Other Medical Equipment / Supplies,mta_data\mta_7_20_9.csv
17868,3,Medical Equipment & Medication,Electric wheelchair/scooter,mta_data\mta_7_20_9.csv
17869,668,Medical Equipment & Medication,Cane,mta_data\mta_7_20_9.csv
...,...,...,...,...
18033,25014,Identification,Credit Card,mta_data\mta_7_20_9.csv
18034,796,Identification,AAA Card,mta_data\mta_7_20_9.csv
18035,1210,Identification,Resident Card,mta_data\mta_7_20_9.csv
18036,9139,Identification,Employment ID,mta_data\mta_7_20_9.csv
18037,18069,Identification,Identification Card,mta_data\mta_7_20_9.csv
18038,7086,Identification,Library card,mta_data\mta_7_20_9.csv
18039,11766,Identification,All Other Personal Identification,mta_data\mta_7_20_9.csv
18040,11964,Identification,Membership card,mta_data\mta_7_20_9.csv
18041,303,Identification,Military ID,mta_data\mta_7_20_9.csv
18042,21561,Identification,Drivers License,mta_data\mta_7_20_9.csv
18043,440,Identification,Registration Card,mta_data\mta_7_20_9.csv
18044,13782,Identification,Benefit Card,mta_data\mta_7_20_9.csv
18045,19030,Identification,Insurance Card,mta_data\mta_7_20_9.csv
18046,27,Identification,Death Certificate,mta_data\mta_7_20_9.csv
18047,488,Entertainment (Music/Movies/Games),Video Games System,mta_data\mta_7_20_9.csv
18048,334,Entertainment (Music/Movies/Games),All Other Entertainment,mta_data\mta_7_20_9.csv
18049,119,Entertainment (Music/Movies/Games),VHS Tape,mta_data\mta_7_20_9.csv
18050,1198,Entertainment (Music/Movies/Games),DVD,mta_data\mta_7_20_9.csv
18051,7,Entertainment (Music/Movies/Games),Blu-Ray,mta_data\mta_7_20_9.csv
18052,388,Entertainment (Music/Movies/Games),Computer Games,mta_data\mta_7_20_9.csv
18053,985,Entertainment (Music/Movies/Games),Compact Disc,mta_data\mta_7_20_9.csv
18054,2819,Footwear,Shoes,mta_data\mta_7_20_9.csv
18055,986,Footwear,Boots,mta_data\mta_7_20_9.csv
18056,723,Footwear,Slippers,mta_data\mta_7_20_9.csv
18057,577,Footwear,Sandals,mta_data\mta_7_20_9.csv
18058,37,Footwear,Galoshes,mta_data\mta_7_20_9.csv
18059,181,Footwear,All Other Footwear,mta_data\mta_7_20_9.csv
18060,2940,Footwear,Sneakers,mta_data\mta_7_20_9.csv
18061,90632,NumberOfItemsclaimed,NaN,mta_data\mta_7_20_9.csv
18062,277233,NumberOfLostArticles,NaN,mta_data\mta_7_20_9.csv

In [29]:
df.item.value_counts()

Other                                324
Badge                                162
Handbag                              162
Epic pass                             81
Checkbook                             81
Diary                                 81
Dress                                 81
Military ID                           81
Tefillin/Phylacteries (Jewish)        81
Under garment                         81
Passport                              81
Sports Racket                         81
Necklace                              81
Lottery Tickets                       81
Walkie Talkie                         81
Computer                              81
Purse                                 81
Digital Camera                        81
All Other Misc Items                  81
Money Order                           81
Boots                                 81
DVD                                   81
Jacket                                81
Clarinet                              81
All Other Toys                        81
All Other Instruments                 81
AAA Card                              81
Scarf                                 81
X - Rays                              81
Debit Card                            81
                                    ...
Slippers                              81
Duffle bag                            81
Address book                          81
Camera Accessories                    81
Diabetic Testing Equipment            81
Eyeglass case without glasses         81
Social Security Card                  81
Stationary Supplies                   81
All Other Accessories                 81
Ornaments                             81
Sweater                               81
All Other sports equipment            81
Tool Box                              81
Binocular                             81
Foreign Currency                      81
Blu-Ray                               81
Electronic Tablet                     81
Bracelet                              81
Computer Accessories                  81
Computer External Hard Drive          81
Ball                                  81
ID Holder                             81
All Other Personal Identification     81
Insulin Pump                          81
Ties                                  81
Wheel Chair                           81
Drivers License                       81
Payroll check                         81
Photo album                           81
Cane                                  81
Name: item, Length: 216, dtype: int64